.externalLinkBuildPop {	
	top:auto;
	left: auto;
	right: 0;
	z-index: 1;
}
.mainRightPanelInner{
    height: auto;
    padding: 0;
}
.mainPageThmeTitle{
	color: #ffffff;
    font-family: myriadproreg;
    font-size: 46px;
    line-height: 40px;
    margin: 0;
	text-align:center;
}
.mainPageThmeTitle a{ color:#fff;}
.wrapperCont5{
    margin: 0;
}
.themewrapper5{
	margin:0 auto;
	width:100%;
}
.themewrapperLeft:hover .hovershowLogo{display:block;}
#showlogo{bottom:-10px!important;}
.mainRhtBannerInnerRight{
    margin: 0;
    min-height: 145px;
    padding: 140px 0 0;
    text-align: center;
    width: 100%;
}
.mainRhtBannerInner .editbannerTxt{}
.buildNavTabBg ul {
	margin:0;
	font:16px MyriadProReg;
	text-transform:uppercase;
	text-align:center;
}
.mainRhtBanner{
	margin-top:-5px;
}
.footerBgSource{
	margin:0 auto;
	width:950px;
}
.themewrapper2BgAlign{padding:10px 0;}
.mainRhtBanner .mainRhtBannerInnerBanner{
	background:url(../../../uploads/photo_theme/theme16/banner.jpg) no-repeat center top;
    width: 100%;
	position:relative;
	background-size:100% 100%!important;
    height: 380px;
}
body{font-family:myriadproreg !important;}
.mainRhtBannerInnerLeft{
	display:none!important;
}
.mainRhtBannerInnerHead{
    color: #ffffff;
    font-family: myriadproreg;
    font-size: 36px;
    font-weight: 400;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
}
.mainRhtBannerInnerDesc{
	overflow:hidden;
	min-height:72px!important;
	height:auto;
    font-size: 14px;
    padding: 20px 0;
	color: #ffffff;
    font-family: myriadproreg;
    font-size: 17px;
}
.buildNavTabBg ul {
    margin: 0;
}
.navTabMore ul{margin:0; top:55px!important;}
.navTabMore ul li{height:auto!important; background:none!important;}
.themewrapper2BgAlign,.sourceNewThene .themewrapper2BgAlign{padding:20px 15px;background:rgba(255,255,255,1.0);}
.buildNavTabBg{
	float:right;
    position: relative;
    z-index: 2;
	text-align:center;
}
#pagelist #rightColumn ul{margin:0;}
.mainRhtBanner .mainRhtBannerInner{
}
.mainRhtBannerInner .mainRhtBannerInnerLeft{
	float:left;
	width:100%;
}
.blogPageThemeBg{margin-top: 15px;}
.mainRhtBanner .mainRhtBannerInnerLeft .mainRhtBannerInnerHead{
	color: #ffffff;
    text-align: center;
    text-transform: uppercase;
}
.mainRhtBanner .mainRhtBannerInnerLeft .mainRhtBannerInnerDesc{
	color: #ffffff;
    margin-top: 20px;
    text-align: center;
}
.mainRhtBanner .mainRhtBannerInnerLeft .button{
	margin-top:20px;
	text-align:center;
}
.mainRhtBanner .mainRhtBannerInnerLeft .button .buttonImg{
	background: none;
    border: 2px solid #ffffff;
    border-radius: 3px;
    color: #ffffff;
    font-size: 18px;
    padding: 10px 30px;
	font-size:18px;
}
.buildNavTabBg ul li{
    display: inline-block;
    height: 50px;
    padding: 0 2px 0 0;
    z-index: 2;
}
.buildNavTabBg ul li a{
	color: #ffffff;
    display: inline-block;
    padding: 10px 15px;
    position: relative;
    text-decoration: none;
	cursor:pointer;
    z-index: 2;
	margin:0 0 0 30px;
}
.buildNavTabBg ul li a:hover,.buildNavTabBg ul li a.active{
	background:#F45435;
}
.main_title {
    text-transform: uppercase;
	width:100%;
}
.contactLisNav{
	color: #777777;
    display: inline-block;

    padding-bottom: 2px;
    padding-top: 8px;
    text-align: left;
	font-family: DroidSans;
	font-weight:bold;
}
.fbicon{
	background: url(../../../uploads/photo_theme/theme2/social-icons.png) no-repeat 0 0 !important;
    height: 24px !important;
    width: 23px !important;
	border: none !important;
}
.twittericon{
	background: url(../../../uploads/photo_theme/theme2/social-icons.png) no-repeat -46px 0 !important;
    height: 24px !important;
    width: 23px !important;
	border: none !important;
}
.linkedicon{
	background: url(../../../uploads/photo_theme/theme2/social-icons.png) no-repeat -69px 0 !important;
    height: 24px !important;
    width: 23px !important;
	border: none !important;
}
.mailicon{
	background: url(../../../uploads/photo_theme/theme2/social-icons.png) no-repeat -92px 0 !important;
    height: 24px !important;
    width: 23px !important;
	border: none !important;
}
.main_paragraph,.main_imagetitle{
	font-family: TitilliumTextLight;
    line-height: 1.5;
    padding: 0.5em 0;
	color:#333333;
}
.main_title{
	font-family:TitilliumTextLight;
	color: #333333;
    font-size: 36px;
    font-weight: normal;
    line-height: 1.2;
    padding: 0.5em 0 0.2em;
}
.contactHead{
	font-family:TitilliumTextLight;
	color: #333333;
    font-size: 36px;
    font-weight: normal;
    line-height: 1.2;
    padding: 0.5em 0 0.2em;
}
.contactLisNav{
	color: #333333;
    display: inline-block;
    font-family: TitilliumTextLight;
    font-size: 13px;
    font-weight: normal;
    margin: 15px 0 5px;
}
.footrAlign a{
	color: #ff6600;
}
#footer_main{line-height:34px;}
.footerBgSource{
	margin:0 10px 0 auto;
	width:950px;
}
.navTabSub ul{background:#34547d; left:0; right:auto; top:50px!important;}
.navTabSub ul li{height:auto;}
.mainRhtBannerInner .editbannerTxt{
	margin-top:20px;
}
.navTabSub ul li a{margin:0!important; padding:10px!important;}
.mainRhtBannerInner .theme4editimg{
	margin-right:125px;
}
.footrAlign{
	background: #1b1b1b;
    color: #ffffff;
    font-size: 14px;
    padding: 20px 0;
    text-align: right;
    width: 100%;
	margin:44px auto 0;
}
.footerWrapTop8{
	background:url(../../../uploads/photo_theme/theme16/repeatwave.png) repeat-x left top;
	height:24px;
	width:51px;
	display:inline-block;
	width:100%;
	left: 0;
    position: absolute;
    top: -24px;
	display:none;
}
.mainRightPanelInner  .footrAlign .themewrapper5{width:980px!important;}
.logodiv{border:1px solid #021F2F;}
.footrAlign {
    font-family: opensans;
    font-size: 14px;
    position: relative;
}
.buildPagePostButton{cursor:pointer;}
.sourceNewThene .sample2{position:static!important;}
#deletePopup{left:75%;}
.theme4HeaderOuterHei a{color:#ffffff;}
.theme2Banner{
	background: #ffe8e8;
}
.blogthemeLogo{text-align:center; }
.themewrapperLeft .flt{float:none!important;}
.logoTopHoverOuter{
	background:rgba(0,0,0,0.15) url(../../../uploads/photo_theme/theme16/banner.jpg);
	float:left;
	position:relative;
	z-index:1;
	width:100%;
	box-shadow:0px 1px 0px 0 rgba(255, 255, 255, 0.3);
	-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;
    padding: 20px 10px;
}
.logoTopHover{
	width:980px;
	margin:0 auto;
}
.themeRightSepOuter {
}
.mainRightPanelInnerTop{position:relative; box-shadow:-1px 5px 2px 0 rgba(0, 0, 0, 0.1);}
#sortable li .contentedit {
    border: 1px solid #eeeeee;
}
.themewrapper1{width:980px; margin:0 auto;}
.sample2 tr td ul.sortcolumn{
    background: #ffffff;
    box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
    min-width: 100% !important;
    padding: 2% !important;
    vertical-align: top;
	box-shadow:0 0 4px #aaaaaa;
}
/*@media (max-width:767px){
	.buildNavTabBg,.theme5wrap,.theme4Wrapper, .themewrapper2BgAlign,.mainRightPanelInner .themewrapper2, .mainRightPanelInner .blogwrapper2,.theme2Banner,.mainRhtBanner .mainRhtBannerInner{width:100%;}
	.themewrapperRight{margin:0 0 10px; float:none; display:inline-block; width:100%;}
	.themewrapperLeft{float:none; display:block; text-align:center; margin:10px 0;}
	.buildNavTabBg{float:none; margin:0; background-repeat:repeat;}
	.buildNavTabBg ul{margin:0;}
	.buildNavTabBg ul li{display:block;float:none; margin:0; background:none; border-bottom:2px solid #243b5b;}
	.buildNavTabBg ul li a{float:none!important; padding:12px 10px!important;height:auto; color:#ffffff!important; display:block!important; background:rgba(0,0,0,0.5)!important; margin:0!important;}
	.buildNavTabBg ul li a:hover, .buildNavTabBg ul li a.active{ background:#f45435!important;}
	.buildNavTabBg ul li{height:auto;}
	.buildNavTabBg{ background-image:none; background:#3a5170;}
	.mainRhtBanner .mainRhtBannerInner{padding:10px;}
	.mainRhtBanner .mainRhtBannerInnerBanner{margin:0; width:100%;}
	.themewrapper2BgAlign{padding:10px; margin:0;}
	.tablesampleouter{margin:0;}
	.buildImgTxtOuter .span3, .sourceNewTheneUploadImg .span3{width:100%!important; margin-bottom:15px;}
	.contacttxtbx,.contacttxtarea{width:100%!important;}
	.logoTopHoverOuter {min-width: inherit;}
	.themewrapperLeft{margin:0; padding:0;}
	.blogPageInnerBg{padding:10px; width:auto; float:none;}
	.themewrapper2BgAlign{padding:0;}
	.themewrapperLeft{width:200px; height:72px;}
	.footrAlign{width:100%;}
	.themewrapperLeft{width:100%;}
	.buildNavTabBg{border:none;}
	.mainRhtBannerInnerRight{top:101px;}
	.mainRightPanelInner .footrAlign .themewrapper5{width:100%!important;}
}
@media (min-width:320px) and (max-width:350px){
	.contacttxtbx,.contacttxtarea{width:100%!important;}
	.sourceNewThene .footrAlign a{margin:0;}
	.mainRhtBanner .mainRhtBannerInner{padding:0;}
}
@media (min-width:351px) and (max-width:359px){
	.contacttxtbx,.contacttxtarea{width:100%!important;}
	.sourceNewThene .footrAlign a{margin:0;}
}
@media (min-width:360px) and (max-width:480px){
	.contacttxtbx,.contacttxtarea{width:100%!important;}
	.mainRhtBanner .mainRhtBannerInner{padding:0;}
	.sourceNewThene .footrAlign a{margin:0;}
}
@media (min-width:481px) and (max-width:767px){
	.contacttxtbx,.contacttxtarea{width:100%!important;}
	.sourceNewThene .footrAlign a{margin:0;}
}
@media (min-width:768px) and (max-width:799px){
	.mainRightPanelInner .themewrapper1, .blogwrapper2, .themeRightSep{width:100%;}
	.themewrapperLeft{margin:10px 0 10px 0px;}
	.themewrapperRight{margin:10px 0px 0 0; padding:0;}
	.mainRhtBanner .mainRhtBannerInner{padding:10px;}
	.mainRhtBanner .mainRhtBannerInnerBanner{margin:0; width:100%;}
	.themewrapper2BgAlign{padding:10px; margin:0;}
	.mainRightPanelInner img {height: 150px;}
	.buildImgTxtOuter .span3, .sourceNewTheneUploadImg .span3{margin-right:10px;}
	.footrAlign,.buildNavTabBg,.theme5wrap,.theme4Wrapper, .themewrapper2BgAlign,.mainRightPanelInner .themewrapper2, .mainRightPanelInner .blogwrapper2,.theme2Banner{width:100%;}
	.mapshowDiv{width:97%;}
	.blogPageBgInnerMiddle {padding:10px;}
	.mainRightPanelInner img{width:97%;}
	.themewrapperLeft img{width:200px; height:72px;}
	.mainRhtBanner .mainRhtBannerInner{padding:0; width:100%;}
	.themewrapperRight{margin:0;}
}
@media (min-width:200px) and (max-width:980px){
	.mainRhtBannerInnerRight{ padding:15px; width:100%; margin:0;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
	.mainRhtBannerInnerDesc{ padding:15px 0; width:100%; margin:0;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
	.mainRhtBanner .mainRhtBannerInner,.themewrapper2BgAlign{-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
	.buildNavTabBg ul{ margin:0;}
	
}*/
#showlogo{ left:45%!important;}
.hei60{ min-height:inherit;}

@media (max-width:977px) {
	.buildNavTabBg { display: block;float: none;}
	.buildNavTabBg > ul{padding: 10px !important;}
	.buildNavTabBg ul li{ display:block;}
	.buildNavTabBg ul li a:hover, .buildNavTabBg ul li a.active {
	  background:#f45435 !important;
	  color:#fff;
	}
	
}
@media (max-width:767px) {
	.mainRhtBannerInnerRight{	margin-left:0px;}
	.mainPageThmeTitle{width:100%; text-align:center; line-height:normal;}
	.buildNavTabBg{border:none;}
	.buildNavTabBg ul li{padding:0;}
	.buildNavTabBg ul li a{text-align:left; display:block; height:auto; padding:10px!important; margin:0;}
	.themepublish .themewrapper2BgAlign{padding:10px;}
	.footrAlign{text-align:center;}
	.buildNavTabBg ul{padding:0!important;}
	.logoTopHoverOuter{padding:20px 0;}
}